.footer {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}
/*
.footer__social {
    margin-left: 50px;
}
.footer__social__icon {
    width: 25px;
    margin-right: 5px;
}
.footer__license {
    margin: 0 auto;
}
.footer__mail {
    height: 18px;
}*/
.footer__mail__icon {
    width: 180px;
}
.footer_social_icon_size_24 {
    font-size: 24px;
}
.footer_shadow {
    box-shadow: 0 -.250rem .25rem rgba(0,0,0,.075) !important;
}